// FONTS
$font-primary: Josefin Sans, sans-serif;
$font-text: Lato, sans-serif;

$color-black: #000;
$color-white: #fff;
$color-text: #151875;
$color-sub-text: #8a8fb9;
$color-text-light: #f1f1f1;
$color-text-dark: #0d0e43;
$color-pink: #fb2e86;
$color-red: #fb2448;
$color-purple: #7e33e0;
$color-heading-2: #151875;

$color-bg-1: #f2f0ff;
$color-bg-2: #eeeffb;
$color-bg-3: #e7e4f8;

$color-blue: #2f1ac4;
$color-off-navy-blue: #3f509e;
$color-sky-blue: #f3f9ff;
$color-off-purple: #9f63b5;
$color-patone-purple: #e0d3f5;

$box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
