.heading-logo {
  font-family: $font-primary;
  font-size: 3.4rem;
  font-weight: 700;
  line-height: 1;
  color: $color-text-dark;
}

.heading-tertiary {
  font-family: $font-primary;
  font-weight: 600;
  font-size: 2.2rem;
  line-height: 1;
}
