%card__icon {
  @include flexItemsCenter;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 1.6rem;
  transition: $smooth;
}

%card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: $smooth;
}

// Hero section
.hero {
  background-color: $color-bg-1;
  padding-top: 12.8rem;
  position: relative;
  z-index: 10;

  &__container {
    @include container;
    @include grid(40rem);
    gap: 2.2rem;
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
    position: relative;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__heading {
    margin: 1.2rem 0;
  }

  &__desc {
    padding-right: 10.6rem;
    margin-bottom: 2.7rem;
  }

  &__btn {
    align-self: flex-start;
  }

  &__image {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &--abs {
      max-width: 387px;
      max-height: 387px;
      position: absolute;
      top: -2rem;
      left: -28rem;
      z-index: -1;
    }
  }

  @include respond(tab-port) {
    padding-top: 19.4rem;

    &__image--abs {
      display: none;
    }
  }

  @include respond(phone) {
    padding-top: 22.4rem;

    &__container {
      @include grid(35rem);
    }
  }
}

//////////////////////////////
// Featured section
.featured {
  padding: 13rem 0 7rem;

  &-products {
    @include grid(270px);
    gap: 3rem;
    margin-bottom: 5.3rem;
  }

  &-card {
    box-shadow: $box-shadow;
    display: flex;
    flex-direction: column;

    &:hover {
      .featured-card__head-img {
        transform: scale(0.8);
      }

      .featured-card {
        &__btn,
        &__icons {
          opacity: 1;
          visibility: visible;
          animation: fadeUp 0.3s linear;
        }

        &__content {
          background-color: $color-blue;

          p {
            color: $color-white;
          }
        }
      }
    }

    &__head {
      flex: 1;
      @include flexItemsCenter;
      padding: 2.9rem 4.6rem;
      background-color: $color-bg-card-1;
      min-height: 236px;
      position: relative;

      &-img {
        @extend %card__img;
      }
    }

    &__icons {
      position: absolute;
      top: 1rem;
      left: 1rem;
      @include flexItemsCenter;
      opacity: 0;
      visibility: hidden;

      &--item {
        @extend %card__icon;

        &:not(:last-child) {
          margin-right: 1rem;
        }

        &:hover {
          background-color: $color-bg-2;
        }

        i {
          background: -webkit-linear-gradient(135deg, #1389ff 0%, #1db4e7 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }

    &__btn {
      display: block;
      position: absolute;
      bottom: 1rem;
      opacity: 0;
      visibility: hidden;
    }

    &__content {
      text-align: center;
      padding: 1.6rem 0;
      margin-top: auto;
      background-color: $color-white;
      transition: $smooth;
    }

    &__heading {
      font-size: 1.8rem;
      line-height: calc(21.6 / 18);
      margin-bottom: 1.3rem;
    }

    &__colors {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
      margin-bottom: 1.2rem;

      &--1,
      &--2,
      &--3 {
        width: 14px;
        height: 4px;
        border-radius: 10px;
      }

      &--1 {
        background-color: #05e6b7;
      }

      &--2 {
        background-color: #f701a8;
      }

      &--3 {
        background-color: #00009d;
      }
    }

    &__code {
      font-family: $font-primary;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1;
      color: $color-text;
      margin-bottom: 1.2rem;
    }

    &__price {
      font-size: 1.4rem;
      line-height: calc(16.8 / 14);
      color: $color-text;
    }

    @include respond(tab-port) {
      &__head-img {
        transform: scale(0.8);
      }

      .featured-card {
        &__btn,
        &__icons {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }

  &-dots {
    @include flexItemsCenter;

    &__item {
      width: 16px;
      height: 4px;
      background-color: #febad7;
      border-radius: 10px;

      &.active {
        width: 24px;
        background-color: $color-pink;
      }

      &:not(:last-child) {
        margin-right: 0.6rem;
      }
    }
  }
}

////////////////////////////////////
// Leatest products
.leatest {
  .category {
    &__list {
      @include flexItemsCenter;
      flex-wrap: wrap;
      margin-bottom: 5.8rem;
    }

    &__item {
      &:not(:last-child) {
        margin-right: 5.8rem;
      }
    }

    &__link {
      font-size: 1.8rem;
      line-height: calc(21.6 / 18);
      color: $color-text;
      text-transform: capitalize;
      padding-bottom: 1px;

      &.active,
      &:hover {
        color: $color-pink;
        border-bottom: 1px solid $color-pink;
      }
    }
  }

  &-products {
    @include grid(360px);
    gap: 12rem 3.7rem;
    margin-bottom: 5.8rem;
  }

  &-card {
    display: flex;
    flex-direction: column;

    &:hover {
      .leatest-card__head-img {
        transform: scale(0.8);
      }

      .leatest-card {
        &__icons {
          opacity: 1;
          visibility: visible;
          animation: fadeUp 0.3s linear;
        }
      }
    }

    &__head {
      flex: 1;
      @include flexItemsCenter;
      padding: 2rem 7rem;
      background-color: $color-bg-card-2;
      min-height: 270px;
      position: relative;
      margin-bottom: 1.5rem;

      &-img {
        @extend %card__img;
      }
    }

    &__icons {
      position: absolute;
      bottom: 3rem;
      left: 1.5rem;
      @include flexItemsCenter;
      flex-direction: column;
      opacity: 0;
      visibility: hidden;

      &--item {
        @extend %card__icon;

        &:not(:last-child) {
          margin-bottom: 1rem;
        }

        &:hover {
          background-color: $color-bg-2;
        }

        i {
          color: $color-blue;
        }
      }
    }

    &__promotion {
      position: absolute;
      top: 2.5rem;
      left: 1.8rem;

      &-img {
        @extend %card__img;
      }
    }

    &__content {
      @include flexAItemsCenter;
      justify-content: space-between;
    }

    &__name {
      font-family: $font-primary;
      font-weight: 400;
      font-size: 1.6rem;
      line-height: 1;
      color: $color-text;
    }

    &__price {
      @include flexAItemsCenter;
      font-family: $font-primary;
      font-weight: 400;
      font-size: 1.4rem;
      line-height: 1;
      color: $color-text;

      &--2 {
        color: $color-pink;
        text-decoration: line-through;
        margin-left: 0.8rem;
        font-size: 1.2rem;
      }
    }

    @include respond(tab-port) {
      &__head-img {
        transform: scale(0.8);
      }

      .leatest-card {
        &__icons {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }

  @include respond(phone) {
    .category {
      &__list {
        @include flexItemsCenter;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-bottom: 4rem;
      }

      &__item {
        flex: 1 1 100%;
        text-align: center;

        &:not(:last-child) {
          margin-bottom: 2.5rem;
          margin-right: 0;
        }
      }
    }

    &-products {
      @include grid(280px);
      grid-row-gap: 5rem;
    }

    &-card__head {
      padding: 2rem 4rem;
    }
  }
}

////////////////////////////////
// Service
.service {
  &-card {
    @include grid(270px);
    gap: 2.8rem;
    margin-bottom: 13.5rem;

    &__item {
      @include flexItemsCenter;
      box-shadow: $box-shadow;
      flex-direction: column;
      padding: 4.5rem 2.6rem;
    }

    &__heading {
      margin: 2.2rem 0 2rem;
    }

    &__text {
      text-align: center;
    }
  }
}
